.Main {

  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.upcommingEvents {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.topText {
  display: flex;
  justify-content: space-between;
}
.allEvents {
  display: flex;
  overflow-x: scroll;
}
