.about {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  text-align: center;
}

.card-img-top {
  width: 10rem;
}

.card-body {
  text-align: center;
  word-wrap: normal;
}

.joinMeetupButton {
  margin-top: 2rem;
  width: 12rem;
  height: 2rem;
  border: 0;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(0, 143, 163);
  margin-right: 1rem;
}
